OWNER_NAME="Farooq Hacker"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "𝑭𝑨𝑹𝑶𝑶𝑸-𝑯𝑨𝑪𝑲𝑬𝑹"
IMAGE_MENU= "https://telegra.ph/file/16ced99af138ba2ea5970.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Farooq Hacker᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
