OWNER_NAME="Farooq Hacker"
PREFIX="-"
PUBLIC_MODE='non'
AUTO_READ_STATUS="non"
AUTO_DOWNLOAD_STATUS="oui"
BOT_NAME= "FLASH-MD"
IMAGE_MENU= "https://telegra.ph/file/63be7509b813ea85d711f.jpg"
NUMERO_OWNER= ""
OWNER_NAME= "᚛Farooq Hacker᚜"
DATABASE_URL= ""
WARN_COUNT= ""
OPENAI_API_KEY= ""
STARTING_BOT_MESSAGE='yes'
ANTI_DELETE_MESSAGE='yes'
